.register-container {
  height: 300px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.575); 
  position: absolute; 
  right: 30px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.register-container h1 {
  margin: 1px 0px 0px 0px ;
  color: #304ef4;
  
}

.register-container input {
  width: 72%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}


.register-container button {
  margin: 8px 2px 2px 2px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #3170f0;
  width: 120px;
  color: white;
}

.register-container button:hover {
  background-color: #0ed02b;
}
