.register-container {
  height: 300px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 36px;
  text-align: center;
  background-color: rgb(255 255 255 / 33%); /* Optional for visibility */
  position: absolute; /* Use absolute positioning */
  right: 30px; /* Distance from the right edge */
  top: 50%; /* Vertically center the container */
  transform: translateY(-50%); /* Adjust for perfect vertical alignment */
}

.register-container h1 {
  margin: 1px 0px 0px 0px ;
  color: #00ffff;
  
}

.register-container input {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}


.register-container button {
  margin: 8px 2px 2px 2px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #0ed02b;
  width: 120px;
}

.register-container button:hover {
  background-color: #218838;
}
